html,
body {
	width: 100%;
	height: 100%;
}

* {
	outline: none;

	&::-webkit-input-placeholder {
		color: #999;
	}

	&::-moz-placeholder {
		color: #999;
	}

	&:-ms-input-placeholder {
		color: #999;
	}

	&:-moz-placeholder {
		color: #999;
	}
}