<div id="details">
  <div class="container">
    <app-search (nameOut)="updateUser($event);"></app-search>
    
    <div class="content" *ngIf="error != 'NOT_FOUND'">
      <div class="left">
        <div class="avatar">
          <div class="thumbs" [style.background-image]="photo" *ngIf="photo"></div>

          <h1>{{ user.name }}</h1>

          <h2>{{ user.login }}</h2>
        </div>

        <div class="description">
          <span>{{ user.bio }}</span>
        </div>

        <ul class="infos">
          <li>
            <img class="icon" src="assets/icon-people.svg">
            
            <span>{{ user.company }}</span>
          </li>
          <li>
            <img class="icon" src="assets/icon-location.svg">
            
            <span>{{ user.location }}</span>
          </li>
          <li>
            <img class="icon" src="assets/icon-email.svg">
            
            <span>{{ user.email }}</span>
          </li>
          <li>
            <img class="icon" src="assets/icon-world.svg">
            
            <span>{{ user.websiteUrl }}</span>
          </li>
        </ul>
      </div>
      
      <div class="right">
        <section *ngFor="let list of lists">
          <div class="area">
            <a href="{{ list.node.url }}" target="_blank" class="title">{{ list.node.name }}</a>
            <h2>{{ list.node.description }}</h2>

            <span>
              <img src="assets/icon-star.svg"> <small>{{ list.node.stargazers.totalCount }}</small>
            </span>
          </div>

          <button [class.hidden]="list.node.viewerHasStarred == true" (click)="$event.preventDefault(); onStar($event, list.node.id);">star</button>

          <button class="active" [class.hidden]="list.node.viewerHasStarred == false" (click)="$event.preventDefault(); onUnstar($event, list.node.id);">unstar</button>
        </section>

        <h4 class="text-center" *ngIf="noMore">no more results</h4>

        <div class="loader" *ngIf="loader">
          <img src="assets/loader.gif">
        </div>
      </div>
    </div>

    <div class="not-found" *ngIf="error == 'NOT_FOUND'">
      <img src="assets/icon-notfound.svg">

      <h3>User not found</h3>
    </div>
  </div>

  <app-footer></app-footer>
</div>