<div id="details">
  <div class="container">
    <app-search></app-search>
    
    <div class="content">
      <div class="left">
        <div class="avatar">
          <div class="thumbs" style="background-image: url('https://www.boldsky.com/img/2014/03/x13-indian-man.jpg.pagespeed.ic.dpW8GrmC6W.jpg');"></div>

          <h1>Sindre Sorhus</h1>

          <h2>sindresorhus</h2>
        </div>

        <div class="description">
          <span>
            Maker · Full-Time
            <br>
            Open-Sourcerer · Into Swift and Node.js
          </span>
        </div>

        <ul class="infos">
          <li>
            <img class="icon" src="assets/icon-people.svg">
            
            <span>@avajs @chalk @yeoman</span>
          </li>
          <li>
            <img class="icon" src="assets/icon-location.svg">
            
            <span>São Paulo, SP</span>
          </li>
          <li>
            <img class="icon" src="assets/icon-email.svg">
            
            <span>sindresorhus@gmail.com</span>
          </li>
          <li>
            <img class="icon" src="assets/icon-world.svg">
            
            <span>sindresorhus.com</span>
          </li>
        </ul>
      </div>
      
      <div class="right">
        <section>
          <div class="area">
            <h1>sindresorhus / magic-iterable</h1>
            <h2>Call a method on all items in an iterable by calling it on the iterable itself</h2>

            <span>
              <img src="assets/icon-star.svg"> <small>200</small>
            </span>
          </div>

          <button>star</button>
        </section>

        <section>
          <div class="area">
            <h1>sindresorhus / magic-iterable</h1>
            <h2>Call a method on all items in an iterable by calling it on the iterable itself</h2>

            <span>
              <img src="assets/icon-star.svg"> <small>200</small>
            </span>
          </div>

          <button class="active">unstar</button>
        </section>

        <section>
          <div class="area">
            <h1>sindresorhus / magic-iterable</h1>
            <h2>Call a method on all items in an iterable by calling it on the iterable itself</h2>

            <span>
              <img src="assets/icon-star.svg"> <small>200</small>
            </span>
          </div>

          <button class="active">unstar</button>
        </section>

        <section>
          <div class="area">
            <h1>sindresorhus / magic-iterable</h1>
            <h2>Call a method on all items in an iterable by calling it on the iterable itself</h2>

            <span>
              <img src="assets/icon-star.svg"> <small>200</small>
            </span>
          </div>

          <button class="active">unstar</button>
        </section>

        <section>
          <div class="area">
            <h1>sindresorhus / magic-iterable</h1>
            <h2>Call a method on all items in an iterable by calling it on the iterable itself</h2>

            <span>
              <img src="assets/icon-star.svg"> <small>200</small>
            </span>
          </div>

          <button class="active">unstar</button>
        </section>

        <section>
          <div class="area">
            <h1>sindresorhus / magic-iterable</h1>
            <h2>Call a method on all items in an iterable by calling it on the iterable itself</h2>

            <span>
              <img src="assets/icon-star.svg"> <small>200</small>
            </span>
          </div>

          <button class="active">unstar</button>
        </section>

        <section>
          <div class="area">
            <h1>sindresorhus / magic-iterable</h1>
            <h2>Call a method on all items in an iterable by calling it on the iterable itself</h2>

            <span>
              <img src="assets/icon-star.svg"> <small>200</small>
            </span>
          </div>

          <button class="active">unstar</button>
        </section>

        <section>
          <div class="area">
            <h1>sindresorhus / magic-iterable</h1>
            <h2>Call a method on all items in an iterable by calling it on the iterable itself</h2>

            <span>
              <img src="assets/icon-star.svg"> <small>200</small>
            </span>
          </div>

          <button class="active">unstar</button>
        </section>

        <section>
          <div class="area">
            <h1>sindresorhus / magic-iterable</h1>
            <h2>Call a method on all items in an iterable by calling it on the iterable itself</h2>

            <span>
              <img src="assets/icon-star.svg"> <small>200</small>
            </span>
          </div>

          <button class="active">unstar</button>
        </section>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>